html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f7f7f7;
}

body {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 16px;
}

#map {
  flex: 1;
  margin: 0 16px 16px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}

#title-head {
  text-align: center;
}

#title-head > h3 {
  color: gray;
}

#title-head > img {
  max-width: 100%;
  height: 500px;
  margin-top: 10px;
  border-radius: 8px;
}

#year-controls {
  text-align: center;
  margin-bottom: 1em;
}

p {
  margin: 1em;
}

#chart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#chart-modal.hidden {
    display: none;
}

#chart-content {
    background: white;
    width: 70%;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.close-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 26px;
    border: none;
    background: none;
    cursor: pointer;
}

#metric-toggle {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.metric-btn {
    padding: 8px 14px;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    background: #eee;
}

.metric-btn.active {
    background: #333;
    color: white;
}

#state-chart {
  width: 100%;
  height: 600px;
  display: block;
}

#note {
  text-align: center;
}

#takeaway-box {
    width: 80%;
    margin: 40px auto;
    padding: 20px 30px;

    background: hwb(59 14% 10% / 0.589);
    backdrop-filter: blur(4px);

    /* Border & rounding */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;

    /* Text styling */
    color: #222;
    line-height: 1.6;
    font-size: 1.1rem;

    /* Shadow for depth */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-bottom: 10px;
}

#takeaway-box h3 {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

#link {
    text-align: center;
    width: 80%;
    margin: 40px auto;
    padding: 20px 30px;

    background: hwb(202 27% 3% / 0.836);
    backdrop-filter: blur(4px);

    /* Border & rounding */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;

    /* Text styling */
    color: #222;
    line-height: 1.6;
    font-size: 1.1rem;

    /* Shadow for depth */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-bottom: 10px;
}